<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery-1.12.4.js")
    @System.Web.Optimization.Scripts.Render("~/Scripts/bootstrap.js")
    @System.Web.Optimization.Styles.Render("~/Content/bootstrap.css")


</head>
<body>
 
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/alertify.min.js"></script>
    <link rel="stylesheet" href="~/Content/themes/alertify.core.css" />
    <link rel="stylesheet" href="~/Content/themes/alertify.default.css" id="toggleCSS" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
