@model ProjetoWebRHDB1.Models.Candidato.CandidatoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid Grid = new WebGrid(source: Model.Candidatos, rowsPerPage: 10);
    List<SelectListItem> selectList = new List<SelectListItem>();

    selectList.Add(new SelectListItem() { Text = "Técnico", Value = "Técnico" });
    selectList.Add(new SelectListItem() { Text = "Superior", Value = "Superior" });
    selectList.Add(new SelectListItem() { Text = "Pós", Value = "Pós" });
}



<h2 style="text-align:center">Candidatos</h2>
<br />
<br />
<div class="col-lg-9">
    <div class="form-group">

        <button id="create-candidato" type="submit" class="btn">Adicionar</button>
    </div>

</div>

<div class="col-lg-12">
    @if (Grid.Rows.Count > 0)
    {
        @Grid.GetHtml(
             tableStyle: "table table-striped",

            numericLinksCount: 7,
            columns: Grid.Columns(
            Grid.Column("ID", header: "ID", format: @<text>@item.ID</text>),
                    Grid.Column("Nome", header: "Nome", format: @<text>@item.Nome</text>),
            Grid.Column("Editar", canSort: false, format: @<text><img id="@item.ID" class="editar-candidato" title="Editar" src="~/Images/pesquisar.jpg" /></text>),
         Grid.Column("Excluir", canSort: false, format: @<text><a href="@Url.Action("Remover", "Candidato", new { ID = item.ID })" onclick="return confirm('Deseja remover candidato?') ">
                <img id="@item.ID" class="" title="Visualizar" src="~/Images/excluir.png" />
            </a></text>)
                                                                                              )
                                                                                              )

    }
    else
    {
        <p>Ops. Não há registros.</p>
    }

</div>

<div id="dialog-form-add" title="Novo Candidato">

    @using (@Html.BeginForm("Adicionar", "Candidato", FormMethod.Post, @Model))
    {
        <div class="col-lg-3">
            <div class="form-group">
                @Html.LabelFor(x => x.CandidatoNovo.Nome)
                @Html.TextBoxFor(x => x.CandidatoNovo.Nome, new { @placeholder = "Nome", @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.CandidatoNovo.Formacao)
                @Html.DropDownListFor(model => model.CandidatoNovo.Formacao, new SelectList(selectList, "Value", "Text"), "Selecionar")
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.CandidatoNovo.Idade)
                @Html.TextBoxFor(x => x.CandidatoNovo.Idade, new { @placeholder = "Idade", @class = "form-control",  @type = "number" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.CandidatoNovo.TempoExperiencia)
                @Html.TextBoxFor(x => x.CandidatoNovo.TempoExperiencia, new { @placeholder = "Tempo XP", @class = "form-control",  @type = "number" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.CandidatoNovo.URL_Git)
                @Html.TextBoxFor(x => x.CandidatoNovo.URL_Git, new { @placeholder = "Url Git", @class = "form-control" })
            </div>

            <input type="submit" title="Salvar" value="Salvar" class="button-confirm" />
        </div>
    }
</div>

<div id="dialog-form-edit" title="Editar Candidato">
    @using (@Html.BeginForm("Editar", "Candidato", FormMethod.Post, new { model = @Model }))
    {
        @Html.HiddenFor(x => x.CandidatoEdite.ID)
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.LabelFor(x => x.CandidatoEdite.Nome)
                    @Html.TextBoxFor(x => x.CandidatoEdite.Nome, new { @placeholder = "Nome", @class = "form-control" })
                </div>
                <div class="col-lg-3">
                    @Html.LabelFor(x => x.CandidatoEdite.Formacao)
                    @Html.DropDownListFor(model => model.CandidatoEdite.Formacao, new SelectList(selectList, "Value", "Text"), "Selecionar")
                </div>
        </div>
       

        <div class="form-group">
            <div class="col-lg-3">
                @Html.LabelFor(x => x.CandidatoEdite.Idade)
                @Html.TextBoxFor(x => x.CandidatoEdite.Idade, new { @placeholder = "Idade", @class = "form-control" })
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(x => x.CandidatoEdite.TempoExperiencia)
                @Html.TextBoxFor(x => x.CandidatoEdite.TempoExperiencia, new { @placeholder = "Idade", @class = "form-control" })
            </div>
    </div>
        <input type="submit" title="Salvar" value="Salvar" class="button-confirm" />
    }

</div>

@section scripts{
    @*<link rel="stylesheet" href="~/Content/Style.css">*@
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-ui-11.12.js"></script>
    <script type="text/javascript" src="~/Scripts/RHDB1/Candidato/Candidato.js"></script>

}